body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background: url('<?php echo get_urlBase("img/error.avif"); ?>');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    
    
}

.error-overlay {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.back-link {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff4d4d;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.back-link:hover {
    background-color: #cc0000;
}
